<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js</title>
</head>

<body>
    <main>
        <!-- <h1>{{ mensaje.split('').reverse().join('')}}</h1> -->
        <h1>{{mensajeAlReves}}</h1>
        <h2>{{mensaje}}</h2>
        <ul>
            <!-- <li v-if="tarea.prioridad" v-for="tarea in tareas"> -->
            <li  v-for="tarea in tareasConPrioridad">                
            <!-- <li v-for="tarea in tareasPorAntiguedad"> -->
                {{tarea.titulo}}
            </li>
        </ul>

        <form v-on:submit.prevent="agregarTarea">
            <input type="text" placeholder="Introduce tu tarea" v-model="nuevaTarea">
            <input type="submit" value="Enviar tarea">
        </form>
        <pre>{{$data}}</pre>
    </main>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>

</html>